.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  margin-top: 100px;
}

.App-header {
  padding: 20px;
  color: #34495e;
}

.App-intro {
  font-size: larger;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
